body{  
	  background-image: url(tesla.jpg);
	  background-size: cover;
	  text-align: left;
}
h1{
	color: black;
	text-align: center;
	font-family: "comic sans ms";
	font-size: 25px;
	/*border: 5px dotted black;*/
	/*border: 5px dotted rgba(255, 176, 170, 0.5);*/
	/*padding: 5px 5px;
	margin: 5px 550px;*/
	transform: scale(2);
}
/*p{*
	color: yellow;
/*}*/

.web{
	/*border: 5px dotted orange;*/
	padding: 0px 0px 0px 20px;
	margin: 0px 1190px 0px 0px;
	background-color: transparent;
	line-height: 40px
}

.a{
	margin-left: 23px;
}
.b{
	margin-left: 45px;
}
.c{
	margin-left: 40px;
}
.d{
	margin-left: 12px;
}
.f{
	text-align: center;
	background-color: transparent;
	font-style: italic;
	font-weight: bold;
	font-family: "Comic Sans MS";
	font-size: 150%;
}
	.g{
		font-family: 'Pacifico', cursive;
	}
.h{
	font-family: "Comic Sans MS";
}
.i{
	font-family: "Comic Sans MS";
}
.j{
	font-family: "Comic Sans MS";
}
span{
	font-style: italic;
	font-weight: bold;
	font-family: "Comic Sans MS";
}
img{
	float: right;
}
#x{
	font-style: italic;
	font-weight: bold;
	font-family: "Comic Sans MS";
	font-size: 100%;
}
.z{
	font-size: 2em;
}